@charset "UTF-8";
@import url(./normalize.css);
@import url(./foundation-icons.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@-moz-keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateX(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateX(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateX(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
html, body {
  height: 100%;
}

body {
  background-color: #eeeeee;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #444;
  min-width: 760px;
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 500;
  font-size: 72px;
  font-style: italic;
  line-height: 0;
  letter-spacing: -4px;
}

em {
  font-weight: 500;
  font-style: italic;
}

p {
  font-size: 20px;
}

li {
  list-style: none;
}

span.listIco {
  display: inline-block;
  width: 30px;
  text-align: center;
}

/*
span.notoSans {
    font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
    font-weight: 100;
    em {
        font-weight: 500;
        font-style: normal;
    }
}
*/
#about {
  text-align: left;
  background-color: #fff;
  padding: 10px;
  width: 500px;
  height: 300px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 0 4px 0 #bbb;
  -webkit-box-shadow: 0 0 4px 0 #bbb;
  box-shadow: 0 0 4px 0 #bbb;
  -moz-perspective: 600px;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-animation: rotateIn 1.5s;
  -moz-animation: rotateIn 1.5s;
  animation: rotateIn 1.5s;
}
#about header {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -30px;
  left: -8px;
  margin: auto;
  color: #a4a4a4;
  font-style: italic;
  font-size: 20px;
}
#about #ico {
  position: absolute;
  top: 50px;
  left: 32px;
  margin: auto;
  width: 140px;
  height: auto;
  background-color: #fff;
  padding: 8px;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  -moz-box-shadow: 0 0 4px 0 #aaa;
  -webkit-box-shadow: 0 0 4px 0 #aaa;
  box-shadow: 0 0 4px 0 #aaa;
}
#about #me {
  position: absolute;
  top: 60px;
  left: 160px;
  margin: 0 40px;
  height: 140px;
  width: 280px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
#about #me .description {
  position: absolute;
  top: 0;
  left: -40px;
  width: 280px;
  text-align: left;
  line-height: 32px;
}
#about #me .description li {
  padding: 0;
}
#about .menu {
  position: absolute;
  top: 230px;
  left: -20px;
  right: 0;
  margin: auto;
  width: 450px;
  color: #fff;
  text-align: center;
}
#about .menu li {
  float: left;
  margin: 0;
  padding: 0 20px;
}
#about .menu a {
  display: block;
  position: relative;
  left: -12px;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
}
#about .menu a span {
  position: absolute;
  opacity: 0;
  top: 48px;
  left: -26px;
  width: 80px;
  padding: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 6px 0 #bbb;
  -webkit-box-shadow: 0 0 6px 0 #bbb;
  box-shadow: 0 0 6px 0 #bbb;
  background: #444;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  transition: .5s;
}
#about .menu a span:after {
  position: absolute;
  top: -24px;
  left: 42px;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-bottom: 12px solid #444;
  content: "";
}
#about .menu a:hover span {
  opacity: 1;
  top: 62px;
}
#about .menu a:before {
  font-family: 'foundation-icons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 35px;
  padding: 0;
  margin: 0;
  color: #b0b0b0;
  font-size: 35px;
  text-align: center;
  line-height: 1;
  float: left;
  transition: .5s;
}
#about .menu a:hover:before {
  color: #d4d4d4;
}
#about .menu .twitter:before {
  content: "\f1e4";
}
#about .menu .dribbble:before {
  content: "\f1c0";
}
#about .menu .github:before {
  content: "\f1c9";
}
#about .menu .tumblr:before {
  content: "\f1e3";
}
#about .menu .pixiv:before {
  content: "\f194";
}
