@charset "UTF-8";
body {
  background-color: #863036;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0px;
}

#rabbit {
  visibility: hidden;
  width: 0;
  height: 0;
}

#watch {
  /* 下層レイヤ部分のコンテンツ */
  position: relative;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  top: 0px;
  width: 100%;
  height: 600px;
  left: 0;
}
#watch .base {
  /* 中央の基準 */
  position: absolute;
  left: 50%;
  top: 0px;
  width: 0;
}
#watch .base #logo {
  position: absolute;
  top: 80px;
  left: -490px;
  width: 120px;
  height: auto;
}
#watch .base #option {
  position: absolute;
  top: 90px;
  left: 370px;
}
#watch .base #option #resetButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: auto;
}
#watch .base #option #tweetButton {
  position: absolute;
  top: 80px;
  left: 0;
  width: 80px;
  height: auto;
}
#watch .base #plate {
  position: absolute;
  top: 70px;
  left: -340px;
  width: 660px;
  height: 480px;
  border: solid 6px #FFF;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}
#watch .base #screen {
  position: absolute;
  top: 128px;
  left: -290px;
  width: 576px;
  height: auto;
}
#watch .base #flame {
  position: absolute;
  top: 118px;
  left: -300px;
  width: 596px;
  height: auto;
}
#watch .base #screenButton {
  position: absolute;
  top: 128px;
  left: -290px;
  width: 576px;
  height: auto;
}
#watch .base #screenButton #leftScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 288px;
  height: 380px;
}
#watch .base #screenButton #rightScreen {
  position: absolute;
  top: 0;
  left: 288px;
  width: 288px;
  height: 380px;
}
#watch .base #watchButton {
  position: absolute;
  top: 408px;
  left: 0;
}
#watch .base #watchButton #leftButton {
  position: absolute;
  top: 0;
  left: -470px;
  width: 100px;
  height: auto;
}
#watch .base #watchButton #rightButton {
  position: absolute;
  top: 0;
  left: 360px;
  width: 100px;
  height: auto;
}

.base {
  position: relative;
  top: 10px;
  left: 50%;
  width: 0;
}
.base footer {
  position: relative;
  text-align: center;
  top: 0;
  width: 840px;
  left: -434px;
  height: auto;
  color: #FFF;
  font-size: 12px;
  border: solid 4px #FFF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
}
.base footer a {
  color: #c6a3a5;
  text-decoration: none;
}
